/*basic style*/

body {
    font: normal normal 13px/16px "Open Sans", sans-serif;
    background: #ccc;
}

.container{
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
}



